<!--老师登录-->
<div id="header">
    <div id="logo"><span id="logotxt">阳光驾考在线</span></div>
    <div id="loginmsg">
        <span> @ViewBag.LoginName 老师您好, 欢迎光临阳光在线全自动考试模拟系统</span>
        <a href="/Home/Logout">退出系统</a>
    </div>
    <div style="clear:both;"></div>
</div>
<div id="menu">
    <ul>
        <li><a href="/Home/Index">首页</a></li>
        <li><a href="/Teacher/Index">教师管理</a></li>
        <li><a href="/Student/Index">学生管理</a></li>
        <li><a href="/Papers/Index">试卷管理</a></li>
        <li><a href="/Answers/TeAnswer">审卷</a></li>
        <li><a href="/Home/About">关于</a></li>
        <div style="clear:both;"></div>
    </ul>
</div>

