<!--学生登录-->
<div id="header">
    <div id="logo"><span id="logotxt">阳光驾考在线</span></div>
    <div id="loginmsg">
        <span>@ViewBag.LoginName 同学您好, 欢迎光临阳光在线全自动考试模拟系统</span>
        <a href="/Home/Logout">退出系统</a>
    </div>
    <div style="clear:both;"></div>
</div>
<div id="menu">
    <ul>
        <li><a href="/Home/Index">首页</a></li>
        <li><a href="/Student/Details/@ViewBag.LoginID">我的资料</a></li>
        <li><a href="/Papers/IndexStu">在线考试</a></li>
        <li><a href="/Answers/MyAnswer">我的考试</a></li>
        <li><a href="/Home/About">关于</a></li>
        <div style="clear:both;"></div>
    </ul>
</div>

