@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "首页";
}

<h2>阳光在线全自动考试模拟系统</h2>

<table border="1" cellspacing="0" >
    <caption>测试账号</caption>
    <tr>
        <td>学生账号: zhangsan</td>
        <td>密码: 111</td>
    </tr>
    <tr>
        <th>老师账号: teacher</th>
        <th>密码: 111</th>
    </tr>
</table>
